{% extends('base.html') %}

{% block content %}
<!-- 
<div class="row">
    <div class="col">
        <h1>Welcome to Rassi Engineering Buzzer Demo</h1>
        <br>
        <h2>Connection Status: <span class="connection-status text-primary">Connecting ...</span></h2>
        <h3 class="name"></h3>
    </div>
</div> -->

<div class="container">
    <div class="row text-center">
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <label class="visually-hidden" for="player-name-1">Player Name</label>
                <div class="input-group">
                    <span class="me-3 d-flex fs-2">1.</span>
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                    <input type="text" dir="rtl" class="form-control w-50" id="player-name-1" placeholder="Player Name">
                </div>
            </div>
            <div class="col">
                <span class="me-2 ms-2"><code class="p-2 bg-light rounded fs-4" id="code-1">*****</code></span>
            </div>

            <div class="col">
                <span class="btn btn-primary" onclick="generate_code('1')" id="btn-generate-1"><i
                        class="fa fa-refresh me-1"></i> Generate
                    Code</span>
                <a href="#" class="btn btn-secondary" target="_blank" id="btn-copy-1"><i class="fa fa-link me-1"></i>
                    Player
                    Link</a>
                <!-- <button class="btn btn-success ms-2" id="btn-send-1"><i class="fa fa-whatsapp me-1"></i> Send
                    Link</button> -->
            </div>
        </form>
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <label class="visually-hidden" for="player-name-2">Player Name</label>
                <div class="input-group">
                    <span class="me-3 d-flex fs-2">2.</span>
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                    <input type="text" dir="rtl" class="form-control w-50" id="player-name-2" placeholder="Player Name">
                </div>
            </div>
            <div class="col">
                <span class="me-2 ms-2"><code class="p-2 bg-light rounded fs-4" id="code-2">*****</code></span>
            </div>

            <div class="col">
                <span class="btn btn-primary" onclick="generate_code('2')" id="btn-generate-2"><i
                        class="fa fa-refresh me-1"></i> Generate
                    Code</span>
                <a href="#" class="btn btn-secondary" target="_blank" id="btn-copy-2"><i class="fa fa-link me-1"></i>
                    Player
                    Link</a>
                <!-- <button class="btn btn-success ms-2" id="btn-send-1"><i class="fa fa-whatsapp me-1"></i> Send
                    Link</button> -->
            </div>
        </form>
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <label class="visually-hidden" for="player-name-3">Player Name</label>
                <div class="input-group">
                    <span class="me-3 d-flex fs-2">3.</span>
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                    <input type="text" dir="rtl" class="form-control w-50" id="player-name-3" placeholder="Player Name">
                </div>
            </div>
            <div class="col">
                <span class="me-2 ms-2"><code class="p-2 bg-light rounded fs-4" id="code-3">*****</code></span>
            </div>

            <div class="col">
                <span class="btn btn-primary" onclick="generate_code('3')" id="btn-generate-3"><i
                        class="fa fa-refresh me-1"></i> Generate
                    Code</span>
                <a href="#" class="btn btn-secondary" target="_blank" id="btn-copy-3"><i class="fa fa-link me-1"></i>
                    Player
                    Link</a>
                <!-- <button class="btn btn-success ms-2" id="btn-send-1"><i class="fa fa-whatsapp me-1"></i> Send
                    Link</button> -->
            </div>
        </form>
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col">
                <label class="visually-hidden" for="player-name-4">Player Name</label>
                <div class="input-group">
                    <span class="me-3 d-flex fs-2">4.</span>
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                    <input type="text" dir="rtl" class="form-control w-50" id="player-name-4" placeholder="Player Name">
                </div>
            </div>
            <div class="col">
                <span class="me-2 ms-2"><code class="p-2 bg-light rounded fs-4" id="code-4">*****</code></span>
            </div>

            <div class="col">
                <span class="btn btn-primary" onclick="generate_code('4')" id="btn-generate-4"><i
                        class="fa fa-refresh me-1"></i> Generate
                    Code</span>
                <a href="#" class="btn btn-secondary" target="_blank" id="btn-copy-4"><i class="fa fa-link me-1"></i>
                    Player
                    Link</a>
                <!-- <button class="btn btn-success ms-2" id="btn-send-1"><i class="fa fa-whatsapp me-1"></i> Send
                    Link</button> -->
            </div>
        </form>
    </div>
</div>
<hr class="m-5">
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <h3 class="ms-2">Buzzer Status: <span id="buzzer-status" class="badge bg-secondary">OFF</span></h3>
    </div>
    <div class="col-6">
        <span class="btn btn-success" onclick="enable_buzzer()" id="btn-enable-buzzer"><i class="fa fa-check me-1"></i>
            Enable Buzzer</span>
        <span class="btn btn-danger ms-2 disabled" onclick="disable_buzzer()" id="btn-disable-buzzer"><i
                class="fa fa-close me-1"></i> Disable Buzzer</span>
    </div>
</div>
<hr class="m-5">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mb-3 fs-1" id="players-container"></div>
    <div class="col-3"></div>
</div>


{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/admin.js') }}"></script>

{% endblock %}